*,::before,::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(219, 212, 212, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    font-family:'Open Sans', sans-serif;
}
#header{
    width: 33%;
    text-align: justify;
    margin-left: 38%;
    background: white;
    margin-bottom: 2vh;
    
    
    
    
}
#photo img{
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(219, 212, 212, 0.829);
    margin-left: 25%;
    margin-bottom: 2%;
}
#name h1 {
    color: red;
    text-align: center;
    margin-bottom: 2%;
}
#h2 h2{
    text-align: center;
    font-weight: normal;
    margin-bottom: 2%;
}
#texte p{
    text-align: justify;
    font-weight: normal;
    padding: 2%;
}
#btn{
    display: block;
    font-size: 18px;
    color: white;
    background: red;
    padding: 10px 50px;
    margin-left: 26%;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    margin-bottom: 3%;
}
 #btn:hover{
     top: 2px;
     background: rgba(219, 212, 212, 0.829);
     box-shadow: 0 5px red;
     color: red;
 }   
#btn:active {
    top: 6px;
    background: red;
    box-shadow: 0 5px rgba(219, 212, 212, 0.829);
}
#header{
    height: 535px;
}
#link{
    width: 33%;
    text-align: justify;
    margin-left: 38%;
    background: white;
    margin-bottom: 2.5vh;
    
}
#link li{
    display: inline-block;
    width: auto;
    height: 20vh;
    margin-left: 5vh;
    padding: 1%;
    position: relative;
}   

   /* a retenir bonne technique pour centrer des blocs dans un bloc */
#link li {
    text-align: center;
  }
  
#link li:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* space width */
  }
  
  #link li a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;
    font-size: 25px;
    color: gray;
    
  }
#link li a:hover{
    color: red;
    font-size: 20px;
}
#link li a:active{
    color: red;
    font-size: 20px;
}

/* début section favorite movie */
#favorite{
    display: inline-block;
    margin-left: 38%;
    background: white;
    width: 500px; 
    text-align: center;
    font-size: 30px;
    
}
#space{
    width: 33%;
    text-align: justify;
    margin-left: 38%;
    background: white;
    height: 300px;
}
#photoSpace{
    height: 150px;
    margin-right: 13px;
}
#title-space{
    font-size: 20px;
    
}
#sec-right-space p span{
    text-align: justify;
    font-weight: bolder;
    
    
}
#sec-left-space{
    float: left;
}
#favorite:hover{
    background: red;
    color: white;
}
#title-space:hover{
color: red;
}
#photoSpace{
  width: auto;
  height: 200px;
  transition: all 1s ease;
   
}
#photoSpace:hover{
    transform: scale(2);
}
/* ----------------------------------- */
#mister{
    width: 33%;
    text-align: justify;
    margin-left: 38%;
    background: white;
    margin-bottom: 2.5vh;
    height: 200px;
}
#photoHulot{
    width: auto;
    height: 200px;
    transition: all 1s ease;
    margin-right: 13px;
}
#sec-left-mister{
    float: left;
}
#title-mister{
    font-size: 20px;
}
#sec-right-mister p span{
    text-align: justify;
    font-weight: bolder;
}
#title-mister:hover{
    color: red;
}
#photoHulot{
    width: auto;
    height: 200px;
    transition: all 1s ease;
     
  }
  #photoHulot:hover{
      transform: scale(2);
  }
  /* ------------------------------- */

  #alien{
    width: 33%;
  background-color: white;
  margin-left: 38%;
  margin-top: -20px;
  height: 280px;
}
#photoAlien{
    width: auto;
    height: 200px;
    transition: all 1s ease;
    float: left;
    margin-right: 13px;
}
#titleAlien{
    font-size: 20px;
}
#sec-right-alien p span{
    text-align: justify;
    font-weight: bolder;
}
#titleAlien:hover{
    color: red;
}
#photoAlien:hover{
    transform: scale(2);
}
#mygithup{
    width: 501px;
    height: 100px;
    background: white;
    margin-left: 38%;
}
#linkGit{
    
    font-size: 30px;
    display: inline-block;
    margin-left: 33%;
    text-decoration: none;
    color: white;
    background: crimson;
    border-radius: 20px;
}

#linkGit:hover{
    font-size: 50px;
    color: white;
    background:black
    ;
}

/* stylisation du lien Githup */
